<!-- http://localhost:3000/about.html to access this page in browser -->
<!DOCTYPE html> 
<html>
    
 <head>
        <link rel="stylesheet" href="/css/styles.css">
      


    </head>
    <body>
         {{>header}}
    <h1>about file in {{name}} </h1>    
    <img class="portrait" src="/img/imag.jpg">
    {{>footer}}  
    </body>
</html>