<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}  {{!-- render the partial, just put file name in the syntax --}}
    <h1>help {{name}}</h1>  
    {{>footer}}  
    </body>
</html>